<div class="col-lg-12">
<nav aria-label="breadcrumb" class="m-3">
  <ol class="breadcrumb">
		<% @breadcrumbs.each do |breadcrumb| %>
		  <% if breadcrumb[:current] %>
        <li class="breadcrumb-item"><a href="/workshops">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
				  <%= breadcrumb[:label] %>
				</li>
      <% else %>
			  <li class="breadcrumb-item">
          <%= link_to breadcrumb[:label], breadcrumb[:path] %>
				</li>
      <% end %>
    <% end %>
  </ol>
</nav>
</div>
