<h1 class="text-center">Cancelled</h1> 
<i class="checkmark">❌</i>

<style>
  .checkmark {
    text-align: center;
    color: #9ABC66;
    font-size: 80px;
    line-height: 100px;
    margin-left:-15px;
  }
</style>
